.image {
    float: right;
    
}
.text {
    float: left;
    width: 500px;
}
.clear {
    clear: both;
}
.text1 {
    display: inline-block;
}
.text2 {
    display: inline-block;
}
/* .divider {
    display: inline-block;
    height: 15px;
    width: 3px;
    background-color: red;
    margin: 0 10px;
} */
.text2::before {
    content: 'lab';
    display: inline-block;
    color: red;
    font-size: 20px;
    text-transform: uppercase;
    margin: 10px;
   }
.text2::after {
    content: '';
    height: 20px;
    width: 3px;
    display: inline-block;
    background-color: springgreen;
    margin: 0 10px;
   }